@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body { 
  font-family: Roboto, sans-serif;
  overflow: auto;
}

.no-margin { 
  margin: 0;
}

.header { 
  padding: 16px 15%;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
}

.dark-background { 
  background-color: #1f2937;
}

.nav { 
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo-text { 
  font-size: 24px;
  font-weight: 500;
}

ul { 
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 16px;
}

img { 
  height: auto;
  width: 550px;
}

.text { 
  font-size: 18px;
  color: #e5e7eb;
}

a { 
  text-decoration: none;
}

.hero-main { 
  font-size: 48px;
  font-weight: 800;
}

.container { 
  display: flex;
  align-items: center;
  gap: 6.7%;
}

.margin { 
  margin: 80px 0;
}

.alter { 
  margin-bottom: 80px;
  flex-wrap: wrap;
  justify-content: center;
}

button { 
  margin-top: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 6px 24px;
  border: none;
  border-radius: 6px;
}

.info { 
  padding: 0 25%;
  text-align: center;
}

.info-header { 
  margin: 1.5em;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.illustration { 
  margin: 0;
}

.subtext { 
  font-size: 16px;
  color: #4d4d4d;
  margin: 4px 2px;
  width: 150px;
}

.box { 
  height: 150px;
  width: 150px;
  max-width: 100%;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.quote { 
  padding: 80px 25%;
  background-color: #e5e7eb;
}

blockquote { 
  margin-right: 0;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

cite { 
  display: block;
  font-weight: 700;
  font-style: normal;
  text-align: right;
}