@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body { 
  font-family: Roboto, sans-serif;
  margin: 0;
}

.header { 
  background-color: #1f2937;
  padding: 16px 15%;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
}

.nav { 
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo { 
  font-size: 24px;
  font-weight: 500;
}

ul { 
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 16px;
}

img { 
  height: auto;
  width: 550px;
  margin: 80px 0;
}

a,
p { 
  font-size: 18px;
  color: #e5e7eb;
}

a { 
  text-decoration: none;
}

.container { 
  display: flex;
  gap: 50px;
}

.hero-text { 
  font-size: 48px;
  font-weight: 1000;
  margin: 0;
}

p { 
  margin: 0;
}

button { 
  margin-top: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 6px 24px;
  border: none;
  border-radius: 6px;
}

.text { 
  margin-top: 120px;
}